DEBUG={{ config['DEBUG'] | default("off", true) }}
DATABASE_URL={{ config['DATABASE_URL'] | default("", true) }}
REDIS_URL={{ config['REDIS_URL'] | default("", true) }}
CELERY_BROKER_URL={{ config['REDIS_URL'] | default("", true) }}
CELERY_RESULT_BACKEND={{ config['REDIS_URL'] | default("", true) }}
WALLET_URL={{ config['WALLET_URL'] | default("", true) }}
WALLET_API_URL={{ config['WALLET_API_URL'] | default("", true) }}
WITHDRAW_API_URL={{ config['WITHDRAW_API_URL'] | default("", true) }}


BACKEND_JWT_SECRET_KEY={{ config['BACKEND_JWT_SECRET_KEY'] | default("", true) }}
BACKEND_EXCHANGER_SECRET_KEY={{ config['BACKEND_EXCHANGER_SECRET_KEY'] | default("", true) }}
EXCHANGER_WALLET_SECRET_KEY={{ config['EXCHANGER_WALLET_SECRET_KEY'] | default("", true) }}